@import "./../../settings/_colors.scss";
@import "./../../settings/_fonts.scss";
@import "./../../settings/_typography.scss";
@import "travel.scss";
@import "./../../scss/list.scss";



/*
.search-form {
   display: flex;
   flex-direction: column;
   margin-top:30px;

   .search-button {
      background-color: white;
      border:2px solid grey;
      height: 35px;
      width:300px;
      margin:20px;
      border-radius:10px;
      font-weight: bold;
      font-family: $font-text;
   }*/
