.contact_form {
  display:flex;
  align-items:center;
  justify-content: center;

  &_formInput {
    flex-direction: column;
    padding-left: 10px;


    &_input {
      padding:15px;
      margin:10px 0;
      flex-direction: column;
    }
  }

}
