@import "../settings/colors";
@import "../settings/fonts";
@import "../settings/base";
@import "../reset/reset";

.contacts {
  background-image: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);
  display: flex;
  min-height: 100vh;

  @include tablet {
    flex-direction: column;
    align-items: center;
    padding: 50px 15px;
  }
  .container {
    align-items: center;

    @include mobile {
      width: 200px;
    }
  }

  &_column {
    width: 50%;
    padding-left: 50px;

    @include  tablet {
      width: 100%;
    }
  }
  &_localization {
    display: flex;
    flex-direction: column;
    align-items: center;

    &_title {
      margin: 20px 0 10px 0;
      font-size: 22px;
      color: $color-title;
      font-family: $font-text;
      font-weight: bold;
    }
    &_details {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      @include tablet {
        flex-direction: column;
        align-items: center;
      }
      &_item {
        color: $color-title;
        font-size: 14px;
        text-decoration: none;
        font-family: $font-text;

        @include tablet {
          margin-bottom: 10px;
        }

        &:first-of-type {
          margin-right: 20px;
        }
        &_mail {
          cursor: pointer;
          height: 25px;
          width: 25px;
          margin-right:10px;
          filter: invert(76%) sepia(81%) saturate(1754%) hue-rotate(73deg) brightness(96%) contrast(87%);
        }
        &_phone {
          cursor: pointer;
          height: 25px;
          width: 25px;
          margin-right:10px;
          filter: invert(76%) sepia(81%) saturate(1754%) hue-rotate(73deg) brightness(96%) contrast(87%);
        }
        &_place {
          cursor: pointer;
          height: 25px;
          width: 25px;
          margin-right:10px;
          filter: invert(76%) sepia(81%) saturate(1754%) hue-rotate(73deg) brightness(96%) contrast(87%);
        }
        &_map {
          padding: 20px 0 20px 0;
        }
      }
    }
  }

  &_box {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet {
      padding-top: 100px;
    }

    &_title {
      font-size: 22px;
      font-weight: bold;
      margin-bottom: 10px;
      margin-top: 20px;
      color: #2395a2;
      font-family: $font-text;
      text-align: center;
      line-height: 25px;
    }

    &_form {
      display: flex;
      flex-direction: column;
      width: 100%;

      &_container {
        display: flex;
        flex-direction: column;
        align-items: center;

        &_label {
          margin: 10px 0 10px 0;
          font-size: 14px;
          color: grey;
          font-family: $font-text;
        }

        &_input {
          padding: 10px;
          border-radius: 5px;
          border: 1px solid grey;
          font-family: $font-text;
        }

        &_error_message {
          margin-top: 20px;
          color: red;
          font-family:$font-text;
          font-size: 12px;
        }

        &_button {
          width: 150px;
          height: 50px;
          padding:10px;
          border:none;
          background-color: #a790c4;
          border-radius: 10px;
          margin-bottom: 20px;
          margin-top: 20px;
          font-family: $font-text;
          cursor: pointer;
        }
      }
    }
  }
}







