/*@import "../settings/colors";
@import "../settings/fonts";
@import "../settings/base";*/

.header {
  height: 70px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16);

  &_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    background-color: $color-header;

    .logo {
      display: flex;
      align-items: center;

      &_icon {
        content: url("../../../public/assets/logo.svg");
        cursor: pointer;
        height: 30px;
        width: 30px;
        filter: invert(75%) sepia(70%) saturate(2266%) hue-rotate(77deg) brightness(97%) contrast(93%);
      }

      &_title {
        color: $color-line;
        font-family: $font-logo;
        text-decoration: none;
        font-weight: bold;
        font-size: 30px;
        padding-left: 5px;
      }
    }
  }

  .nav {
    &_element {
      padding: 0 26px;
      display: flex;

      &:last-child {
        padding-right: 0;
      }
    }

    &_link {
      color: grey;
      font-weight: 700;
      font-size: 0.6875rem;
      text-transform: uppercase;
      padding: 28px 18px 22px;
      border-bottom: 4px solid transparent;
      letter-spacing: 0.1875rem;
      text-decoration: none;
      text-align: center;
      line-height: 1rem;

      &:hover {
        color: $color-line;
      }
    }
  }

  &_nav {
    display: flex;

    @include tablet  {
      position: absolute;
      left: 0;
      top: 70px;
      flex-direction: column;
      background-color: white;
      width: 100%;
      padding-bottom: 20px;
      display: none;
      align-items: center;

      .nav_element {
        padding: 0;
        list-style-type: none
      }

      .nav_link {
        display: block;
        padding: 14px 20px;
      }
    }
  }
}
.menu {
  &_btn {
    display: none;
    position: absolute;
    top: -9999px;
    left: -9999px;
    opacity: 0;

    @include tablet  {
      &:checked {
        ~ .header_nav {
          display: flex;
        }

        ~ .menu_toggle {
          span {
            &:nth-child(1) {
              transform: rotate(45deg) translate(2px, 5px);
            }
            &:nth-child(2) {
              opacity: 0;
            }
            &:nth-child(3) {
              transform: rotate(-45deg) translate(2px, -5px);
            }
          }
        }
      }
    }
  }

  &_toggle {
    display: none;

    span {
      width: 20px;
      height: 2px;
      display: block;
      margin-bottom: 3px;
      background-color: $color-line;
      transition: .3s all ease-in-out;

      &:last-child {
        margin-bottom: 0;
      }
    }

    @include tablet {
      display: block;
    }
  }
}





