@import "../settings/fonts";
@import "../settings/colors";
@import "../settings/base";


.listOfTrips {
  background-image: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);
  height: 100vh;
  display: flex;

  .listOfTrips__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cart {
    width:60%;
  }
  .listOfTrips_title {
    font-weight: bold;
    font-family: $font-text;
    margin-bottom: 20px;
    margin-top:20px;
    color:$color-line;
  }
  .cart_box {
    display:flex;
    align-items: center;
    justify-content: space-between;
    border-bottom:2px solid grey;
    padding-bottom: 10px;
  }

  .cart_box img{
    width:80px;
    height:60px;
    border-radius: 10px;
  }
  .cart_img{
    display:flex;
    width:400px;

  }
  .cart_img p {
    font-weight: bold;
    margin-left:10px;
  }
  .button-plus {
    background: no-repeat url("../../../public/assets/plus.svg");
    cursor: pointer;
    display: block;
    height: 50px;
    width: 50px;
    filter: invert(76%) sepia(81%) saturate(1754%) hue-rotate(73deg) brightness(96%) contrast(87%);
  }
  .button-minus {
    content: url("../../../public/assets/minus.svg");
    cursor: pointer;
    display: block;
    height: 25px;
    width: 25px;
    filter: invert(25%) sepia(92%) saturate(2500%) hue-rotate(354deg) brightness(92%) contrast(87%);
  }
  .cart_buttons {
    display: flex;
  }
  .cart_box div:nth-child(2) button {
    padding: 5px 10px;
    font-weight: bold;
    margin-right: 5px;

  }
  .cart_box div:nth-child(3) button {
    padding:5px;
    font-weight: bold;
    letter-spacing:2px;
    border:none;
    outline: none;
    color:white;
    background-color: indianred;
    border-radius: 5px;
    cursor:pointer;

  }
  .cart_box div:nth-child(3) button:hover {
    background-color: red;
  }
  .cart_box div:nth-child(3) span {
    background-color: lightgreen;
    padding:5px 10px;
    border-radius: 5px;
    margin-right: 10px;
  }
  .total {
    display: flex;
    justify-content: space-between;
  }
  .total span:nth-child(1) {
    font-size:16px;
    color:blue;
    font-weight: bold;
    font-family: $font-text;
}
  .total span:nth-child(2) {
    font-size:16px;
    color:green;
    font-weight: bold;
    font-family: $font-text;
  }
}