.search_section {
  background-image: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);
  display: flex;
  justify-content: center;
  min-height: 100vh;

  &_trips_to_select {
    display: flex;
    max-width: 1000px;
    margin: 100px auto 120px;
    justify-content: space-between;
    flex-wrap: wrap;

    @include mobile {
      margin: 35px auto 50px;
      align-items: center;
      flex-direction: column;
    }
  }
  .travel_box {
    border-radius:10px;
    box-shadow: 0 5px 20px rgb(71,71,71);
    margin:10px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    background: azure;
    align-items: center;
    max-width: 200px;
    font-family: $font-text;

   &:hover {
    box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.1);
   }

    &_image {
      width: 200px;
      height: 150px;
      border-radius: 5px;
    }

    h2 {
      padding: 10px 0 10px 0;
    }
    h3 {
      font-weight: bold;
      padding: 5px 0 5px 0;
    }
    p {
      padding: 5px 0 5px 0;
      text-align: center;
    }
  }

  .button_all {
    display: flex;
    align-items: center;

    &_buy {
      width:60px;
      height:30px;
      border-radius: 10px;
      border:2px solid grey;
      margin:10px;
      font-weight: bold;
      color:green;
      cursor: pointer;
    }

    &_plus_icon {
      content: url("../../../public/assets/plus.svg");
      cursor: pointer;
      display: block;
      height: 25px;
      width: 25px;
      filter: invert(76%) sepia(81%) saturate(1754%) hue-rotate(73deg) brightness(96%) contrast(87%);
    }
  }
}